body {
    display:block;
    margin: 8px;
    background-color:lavenderblush;
    margin-bottom: 100px;
}
#mainHeading {
    color:red;
    text-align: center;
    border-style:dashed;
    border-width: 3px;
}

p {
    font-size: medium;
    font-family:fantasy;
}
