body {
    display:block;
    margin: 8px;
    padding: 4px;
    background-color:lightgray;
}
#mainHeading {
    color:red;
    text-align:center;
    border-style:5px dashed;
    border-width: 3px;
}
h1 {
    color:red;
    border-bottom: 2px solid black;
    padding: 30px;
}
p {
    font-size: medium;
    font-family:fantasy;
}

.funParagraph {
    color: green;
}